@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300;400&display=swap');

@keyframes levitate {
    0% {
        transform: translate(0, -10px);
    }

    75% {
        transform: translate(0, 1px);
    }

    100% {
        transform: translate(0, -10px);
    }
}

@keyframes cursor-blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
      }
    100% {
        opacity: 0;
    }
  }  

:root {
    --main-bg-color: #080D12;
    --second-bg-color: #0D161E;
    --main-accent-color: #4FAEFD;
    --second-accent-color: #86C8FF;
    --third-accent-color: #229BFF;
    --main-font-color: #BDCAD8;
    --second-font-color: #8892B0;
    --third-font-color: #565C6F;
    --additional-color: #A1ABB6;
  }

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} 

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: var(--second-font-color);
}  

body {
    background-color: var(--main-bg-color);
    margin: 0px 120px;
}

h1 {
    color: var(--main-font-color);
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

p {
    font-weight: 300;
}

/*Constant elements*/
/*=======================================================================================*/
.ghost-btn {
    width: 210px;
    height: 60px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: var(--main-accent-color);
    background-color: transparent;
    border: 6px solid var(--main-accent-color);
    border-radius: 15px 0px;
    position: relative;
    outline: none;
}

.ghost-btn:hover {
    cursor: pointer;
    color: white;
}

.ghost-btn::before {
    transition: 0.2s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: "";
    background-color: var(--main-accent-color);
}

.ghost-btn:hover:before {
    transition: 0.2s all ease;
    box-shadow: 0px 0px 30px 11px rgba(134, 200, 255, 0.7);
    left: 0;
    right: 0;
    opacity: 1;
    z-index: -1;
}

.filled-btn {
    width: 210px;
    height: 60px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: var(--main-accent-color);
    border: transparent;
    position: relative;
    border-radius: 15px 0px;
    box-shadow: 0px 0px 30px 11px rgba(134, 200, 255, 0.3);
    outline: none;
    transition: ease-out 0.1s;
}

.filled-btn:hover {
    transition: ease-out 0.1s;
    cursor: pointer;
    background-color: #78C2FF;
    box-shadow: 0px 0px 30px 11px rgba(134, 200, 255, 0.6);
}

.number {
    color: var(--main-accent-color);
    margin-right: 12px;
}

.section-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-header > div {
    color: var(--main-font-color);
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.section-header > div:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-header > div:nth-child(1) > div:nth-child(2) {
    margin: 0 24px;
}

.horizontal-line {
    width: 146px;
    height: 2px;
    background-color: var(--additional-color);
}

.section-header > div:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

/*Header*/
/*=======================================================================================*/
header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

header > span {
    letter-spacing: 0.21em;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0 36px 0 0;
    font-weight: 300;
}

nav li {
    cursor: pointer;
    position: relative;
    margin: 0 12px; 
}

nav li:hover {
    color: var(--main-font-color);
}

/*Landing page*/
/*=======================================================================================*/
#landing-page {
    margin: 0 65px;
    height: calc(100vh - 120px);
    display: flex;
    justify-content: space-between;
    position: relative;
}

#timeline > img:nth-child(1) {
    position: absolute;
    left: -22.15px;
    top: -130px;
    width: 44.29px;
    height: 36.52px;
}

#timeline > img:nth-child(2) {
    position: absolute;
    left: -22.15px;
    top: -70px;
    width: 44.29px;
    height: 36.52px;
}

#timeline {
    background-color: var(--additional-color);
    height: 260vh;
    left: -89px;
    position: absolute;
    top: 74vh;
    width: 1px;
    z-index: 10;
}

#circle {
    position: absolute;
    width: 9px;
    height: 9px;
    left: -4px;
    top: -9px;
    border: 2px solid #A1ABB6;
    border-radius: 20px;
}

#landing-page-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

#landing-page-left > span {
    display: flex;
    height: 100%;
    align-items: center;
}

.decorative-text {
    max-width: 24px;
}

#landing-page-middle {
    max-width: 660px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

#landing-page-middle > div > div:nth-child(1) {
    text-align: left;
    font-family: 'Poppins', sans-serif;
    color: var(--second-accent-color);
    font-weight: 300;
    font-size: 20px;
    margin-left: 72px;
}

#landing-page-middle > div > div:nth-child(2) {
    font-size: 64px;
    color: var(--main-accent-color);
    letter-spacing: 0.105em;
    margin-bottom: 12px;
}

#landing-page-middle > p {
    margin: 12px 0px 24px 0px;
    max-width: 500px;
}

#landing-page-middle > img {
    bottom: 0;
    position: absolute;
    animation: levitate 1.2s infinite;
}

#landing-page-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

#landing-page-right > span {
    display: flex;
    height: 100%;
    margin-right: 24px;
}

/*About me*/
/*=======================================================================================*/
#code-wrap {
    width: calc(100vw - 120px);
    font-family: 'Source Code Pro', monospace;
    color: var(--main-font-color);
    font-weight: 400;
}

.line-of-code::before {
    content: attr(data-line-nr);
    left: -70px;
    color: var(--third-font-color);
    font-weight: 300;
    position: absolute;
}

.line-of-code:hover {
    background-color: var(--second-bg-color);
}

.python-class {
    color: var(--main-accent-color);
}

.python-indentation {
    color: var(--third-font-color);
}

.python-method {
    color: var(--main-accent-color);
}

.python-method-name {
    color: var(--second-accent-color);
}

.python-attribute {
    color: var(--third-accent-color);
}

.code-comment {
    color: var(--third-font-color);
    padding-right: 120px;
}

.line-of-code {
    position: relative;
}

.cursor {
    content: "";
    width: 5px;
    height: 24px;
    position: absolute;
    bottom: 2px;
    background: var(--main-accent-color);
    animation: cursor-blink 0.7s infinite;
}

/*Projects*/
/*=======================================================================================*/
#projects-wrap {
    margin: 0 60px;
    display: flex; 
    justify-content: center;
    align-items: center;
}

#projects-wrap h1 {
    color: white;
}

#projects-wrap p {
    color: var(--main-font-color);
}

.container {
    width: 600px;
    height: 400px;
    border-radius: 41px;
    transform: perspective(1000px);
    transform-style: preserve-3d;
    position: relative;
    display: flex;
    align-items: center;
}

.container > div:nth-child(1) {
    background-color: var(--main-accent-color);
    left: -100px;
    transform: translateZ(40px);
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 41px;
    width: 289px;
    height: 169px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
}

.container > div:nth-child(2) {
    background-color: var(--main-accent-color);
    left: -15px;
    bottom: 50px;
    transform: translateZ(40px);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    width: 89px;
    height: 52px;
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.25);
}

.container > div:nth-child(2) > img {
    width: 36.91px;
    height: 38.71px;
}

.container > img {
    width: 100%;
    height: 400px;
    border-radius: 41px;
}

/*Footer*/
/*=======================================================================================*/
footer {
    height: 470px;
    display: flex;
    flex-direction: column;
}

#contact {
    height: 70%;
    display: flex;
    gap: 24px;
    justify-content: center;
}

#copyright {
    color: var(--additional-color);
    height: 30%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#copyright img {
    width: 44.29px;
    height: 38.71px;
}